[data-theme='light'], :root {
  --text-color: #000000;
  --text-color-muted: #9ca3af;
  --text-color-invert: #ffffff;
  --text-color-primary: var(--primary-800);
  --primary-color: var(--primary-600);
  --accent-color: var(--primary-100);

  --background: #f9f6f3;
  --background-alt: #eae3d9;
  --background-dark: #dbcbb8;
  --background-translucent: rgba(249, 246, 243, 0.7);
  --background-grid: radial-gradient(var(--primary-400) 0.5px, var(--primary-600) 0.5px);

  --shadow-default: 0px 8px 0px -4px rgba(0, 0, 0, 0.75);
  --shadow-light: 0px 8px 0px -3px rgba(0, 0, 0, 0.1);
  --shadow-primary: 0px 8px 0px -3px rgba(122, 132, 94, 0.75);
}