.button {
  display: inline-block;
  padding: var(--space-min) var(--space-md);
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
  transition: all var(--transition-speed) ease;
  border: none;
}

.button:hover {
  background-color: var(--primary-400);
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-light);
}

/* Inverse button variant */
.button-inverse {
  background-color: var(--background);
  color: var(--text-color-primary);
}

.button-inverse:hover {
  background-color: var(--background-alt);
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-light);
}
