:root {
  /* -- Theme Colors -- */
  --primary-50: #f4f6f3;
  --primary-100: #e6e8e3;
  --primary-200: #ccd2c8;
  --primary-300: #a8b3a2;
  --primary-400: #7f8e79;
  --primary-500: #62745c;
  --primary-600: #485744;
  --primary-700: #3a4636;
  --primary-800: #2f392c;
  --primary-900: #272f25;
  --primary-950: #151a14;

  /* -- Semantic Colors -- */
  --text-color: #000000;
  --text-color-muted: #9ca3af;
  --text-color-invert: #ffffff;
  --text-color-primary: var(--primary-800);
  --primary-color: var(--primary-600);
  --accent-color: var(--primary-100);
  --error-color-light: #ffe2e6;
  --error-color: #ff3860;

  /* -- Backgrounds -- */
  --background: #f9f6f3;
  --background-alt: #eae3d9;
  --background-dark: #dbcbb8;
  --background-translucent: rgba(249, 246, 243, 0.7);
  --background-grid: radial-gradient(var(--primary-400) 0.5px, var(--primary-600) 0.5px);

  /* -- Typography -- */
  --font-family-base: 'Fraunces Variable', serif;

  /* Font Sizes (GRT) */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.8125rem; /* 13px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-lg: 1.625rem; /* 26px */
  --font-size-xl: 2.0625rem; /* 33px */
  --font-size-2xl: 2.625rem; /* 42px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-sm: 1.2;
  --line-height-base: 1.5;
  --line-height-md: 1.75;
  --line-height-lg: 2;

  /* -- Spacing -- */
  --space-min: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-xxl: 3rem; /* 48px */

  /* -- Layout -- */
  --border-radius-min: var(--space-min);
  --border-radius: var(--space-xs);
  --border-radius-md: var(--space-md);
  --nav-height: 5rem;
  --max-content-width: 1200px;

  /* -- Breakpoints -- */ /* 
   xs: 0
   sm: 576px
   md: 768px
   lg: 992px
   xl: 1200px
*/

  /* -- Effects -- */
  --box-shadow-default: 0px 8px 0px -4px rgba(0, 0, 0, 0.75);
  --box-shadow-light: 0px 8px 0px -3px rgba(0, 0, 0, 0.1);
  --box-shadow-primary: 0px 8px 0px -3px rgba(122, 132, 94, 0.75);
  --transition-speed: 0.3s;
}

/* Dark Theme Variables */
[data-theme='dark'] {
  --background: var(--primary-950);
  --background-alt: var(--primary-700);
  --background-dark: var(--primary-900);
  --background-translucent: rgba(27, 30, 21, 0.8);
  --background-grid: radial-gradient(var(--primary-600) 0.5px, var(--primary-800) 0.5px);

  --text-color: #ffffff;
  --text-color-invert: #000000;
  --primary-color: var(--primary-600);
  --text-color-primary: var(--primary-100);

  --box-shadow-default: 0px 8px 0px -4px var(--primary-700);
  --box-shadow-light: 0px 8px 0px -3px rgba(45, 45, 45, 0.6);
}

/* Base Elements */
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-height) - var(--space-md));
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-sm);
  margin: var(--space-md) 0;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
  margin: var(--space-md) 0;
}

h3 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
  margin: var(--space-sm) 0;
}

h4 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  margin: var(--space-sm) 0;
}

h5 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);
  margin: var(--space-xs) 0;
}

h6 {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-base);
  margin: var(--space-xs) 0;
}

p,
li,
span {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: all var(--transition-speed) ease;
}

a:hover {
  opacity: 0.9;
}

/* Horizontal Rule */
hr {
  border: none;
  height: 1px;
  background-color: var(--text-color-muted);
  margin: var(--space-xl) 0;
}

.background-alt {
  background-color: var(--background-alt);
}

.subtitle {
  font-weight: 400;
}

/* Change Defaults for Focus/Selection Behaviors */
*:focus-visible {
  outline: 2px solid var(--primary-300);
}

::selection {
  color: white;
  background: var(--primary-400);
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 4rem var(--space-md);
  }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }

  html {
    scroll-behavior: auto;
  }
}
