@layer utilities {
  .with-icon {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
  }

  .with-icon svg {
    width: 1em;
    height: 1em;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .justify-center {
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .width-100 {
    width: 100%;
  }

  .background-alt {
    background-color: var(--background-alt);
  }

  .readable-width {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }

  /* Container layout */
  .container {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: var(--space-20) var(--space-12);
    width: 100%;
  }

  .container-with-title {
    padding-top: var(--space-8);
  }

  .container-title {
    display: flex;
    justify-content: center;
  }

  .container-narrow {
    width: 60%;
  }

  .container-wide {
    width: 80%;
  }

  @media (max-width: 1200px) {
    .readable-width {
      width: 100%;
      padding: var(--space-4) var(--space-12);
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: var(--space-16) var(--space-6);
    }

    .container-with-title {
      padding-top: var(--space-12);
    }

    .container-wide {
      width: 100%;
    }

    .readable-width {
      padding: var(--space-1) 0;
    }

    .mobile-flex {
      display: flex;
    }

    .mobile-flex-col {
      flex-direction: column;
    }
  }
}
