---
import Layout from '@layouts/layout.astro';
---

<Layout title="Ryan Brockhoff - Full Stack Developer">
  <section class="section">
    <div class="content">
      <div class="inner-content">
        <h1>404</h1>

        <h4 class="subtitle">Uh oh. This page doesn't exist.</h4>

        <a href="/" class="button">Back Home</a>
      </div>
    </div>
  </section>
</Layout>

<style>
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-alt);
    color: var(--text-color);
    background-image: var(--background-grid);
    background-size: var(--space-md) var(--space-md);
  }

  h1 {
    font-size: 8rem;
  }

  .inner-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: var(--background-alt);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-md);
  }
</style>
