---
import Layout from '@layouts/layout.astro';
---

<Layout title="Ryan Brockhoff - Full Stack Developer">
  <section class="section">
    <div class="content background-alt flex-center width-100">
      <div class="inner-content background-alt flex-center flex-col">
        <h1>404</h1>

        <h4 class="subtitle">Uh oh. This page doesn't exist.</h4>

        <a href="/" class="button">Back Home</a>
      </div>
    </div>
  </section>
</Layout>

<style>
@layer components {
  .content {
    height: 100vh;
    color: var(--text-color);
    background-image: var(--background-grid);
    background-size: var(--space-md) var(--space-md);
  }

  h1 {
    font-size: 8rem;
  }

  .inner-content {
    height: fit-content;
    width: fit-content;
    padding: 4rem;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-md);
  }
}
</style>
