---
import Layout from '@layouts/layout.astro';
import Hero from '@components/home/hero.astro';
import WorkExperience from '@components/home/work-experience.astro';
import CurrentProject from '@components/home/current-project.astro';
import ContactCta from '@components/shared/contact-cta.astro';
---

<Layout title="Ryan Brockhoff - Software Engineer">
  <Hero />

  <CurrentProject />

  <WorkExperience />

  <div id="contact">
    <ContactCta />
  </div>
</Layout>
