---
import { Image } from 'astro:assets';
import profilePhoto from '@images/profile.png';
import MediumIcon from '@images/links/medium.svg';
import LinkedinIcon from '@images/links/linkedin.svg';
import GithubIcon from '@images/links/github.svg';
---

<section id="about" class="section">
  <div class="container">
    <div class="about-content">
      <div class="about-image">
        <Image src={profilePhoto} alt="Profile photo" />
      </div>

      <h2>About Me</h2>

      <ul class="about-links">
        <li class="hover-underline with-icon">
          <LinkedinIcon />
          <a
            href="https://www.linkedin.com/in/ryanbrockhoff/"
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a
          >
        </li>
        <li class="hover-underline with-icon">
          <GithubIcon />
          <a href="https://github.com/rwbrockhoff/" target="_blank" rel="noopener noreferrer"
            >Github</a
          >
        </li>
        <li class="hover-underline with-icon">
          <MediumIcon />
          <a href="https://medium.com/@brockhoff" target="_blank" rel="noopener noreferrer"
            >Medium</a
          >
        </li>
      </ul>
      <div class="about-text">
        <p>
          I'm a web developer with a passion for building beautiful, functional web applications.
        </p>
        <p>
          With a professional background in frontend and backend development, I enjoy creating
          seamless user experiences while ensuring robust functionality behind the scenes. I
          specialize in React, Node.js, UI design, and data visualizations.
        </p>
        <p>
          When I'm not coding, you can find me hiking, reading, or experimenting with new
          technologies. I'm always looking to learn and grow as a developer.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .about-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
  }

  .about-image img {
    width: 5rem;
    height: auto;
    border-radius: 100%;
    border: var(--space-min) solid var(--primary-color);
    margin-bottom: var(--space-min);
  }

  .about-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    color: var(--text-color);
  }

  .about-content h2 {
    font-size: 2rem;
    margin: var(--space-sm) 0;
  }

  .about-text p {
    margin-bottom: var(--space-md);
  }

  /* Responsive */
  @media (max-width: 768px) {
    .about-content {
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
</style>
