<header>
  <h1>Ryan</h1>
  <nav>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://www.linkedin.com/in/ryanbrockhoff/">LinkedIn</a></li>
      <li><a href="https://github.com/rwbrockhoff">Github</a></li>
      <li><a href="https://medium.com/@brockhoff">Medium</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: var(--primary-500);
    color: white;
    height: 5rem;
  }
</style>
