---
import '@styles/index.css';
import '@fontsource-variable/fraunces';

import { ClientRouter } from 'astro:transitions';
import Navbar from '@components/global/navbar.astro';
import Footer from '@components/global/footer.astro';

interface LayoutProps {
  title?: string;
}

const { title } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} |` : ''} Ryan Brockhoff - Software Engineer</title>
  </head>

  <Navbar />
  <body>
    <div class="page-layout">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
  <script src="@scripts/console-message.ts"></script>
  <script src="@scripts/navbar.ts"></script>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>
