---
import '../../styles/global.css';
import '../../styles/animations.css';
import ThemeSwitcher from './theme-switcher.astro';
---

<header class="some">
  <nav>
    <div class="nav-container">
      <div class="logo">RB</div>
      <div class="nav-links">
        <a href="#home" class="nav-link hover-underline">Home</a>
        <a href="#about" class="nav-link hover-underline">About</a>
        <a href="#skills" class="nav-link hover-underline">Skills</a>
        <a href="#projects" class="nav-link hover-underline">Projects</a>
        <a href="#contact" class="nav-link hover-underline">Contact</a>
        <ThemeSwitcher />
      </div>
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </nav>
</header>

<script src="../../scripts/header.ts"></script>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background-translucent);
    backdrop-filter: blur(10px);
    height: var(--nav-height);
    transition: var(--background-transition);
  }

  .scrolled-header {
    border-bottom: 2px solid var(--background-alt);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-xl);
    height: var(--nav-height);
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    gap: var(--space-xl);
    color: var(--text-color);
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--background);
      padding: 1rem 0;
    }

    .nav-links.active {
      display: flex;
    }

    /* Hamburger Menu Styles */
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
    }

    .bar {
      width: 25px;
      height: 3px;
      background-color: var(--primary-color);
      transition: all 0.3s ease;
    }

    /* Create X Icon from menu bars when active */
    .hamburger-menu.active .bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  @media (min-width: 769px) {
    .hamburger-menu {
      display: none;
    }
  }
</style>
