---
interface HeroProps {
  id?: string;
  className?: string;
  readableWidth?: boolean;
}

const { id, className = '', readableWidth = false } = Astro.props as HeroProps;
---

<section class={`hero ${className} ${readableWidth && 'readable-width'}`} id={id}>
  <slot />
</section>

<style>
  section.hero {
    width: 100%;
    min-height: 50vh;
    padding: calc(var(--nav-height) + var(--space-8)) var(--space-4) var(--space-8) var(--space-4);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  /* section.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 20% 80%, rgba(132, 160, 225, 0.15) 0%, transparent 50%),
                radial-gradient(circle at 80% 20%, rgba(92, 118, 207, 0.12) 0%, transparent 50%);
    pointer-events: none;
  } */
</style>
