---
interface HeroProps {
  id?: string;
  className?: string;
  readableWidth?: boolean;
}

const { id, className = '', readableWidth = false } = Astro.props as HeroProps;
---

<section class={`hero ${className} ${readableWidth && 'readable-width'}`} id={id}>
  <slot />
</section>

<style>
  section.hero {
    width: 100%;
    height: 50vh;
    min-height: fit-content;
    background-color: var(--primary-300);
    background-image: var(--background-grid);
    background-size: var(--space-4) var(--space-4);
    text-align: center;
    padding-top: var(--nav-height);
    box-shadow: var(--shadow-light);
  }
</style>
